.section {
  background-color: #e60d0d;
}

.our-services {
  margin: 50px auto;
  text-align: center;
}
p.text-our-services {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* Latihan 4 */
.container-empat {
  width: 800px;
  margin: 50px auto;
  display: flex;
}

.card {
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  background-color: #eeeeee;
  overflow: hidden;
  margin: 10px;
  flex: 1;
}

.card .header {
  height: 150px;
  background-color: #666666;
}

.card .content {
  text-align: center;
  padding-bottom: 20px;
}

.card.besar {
  transform: scale(1.12);
}

/* ---------------------------------------------------- */
/*  * ********************************************** * */
/*  | 10. Awal Section Footer ********************** |*/
/*  * ********************************************** */
/*  | *********** Awal Section Footer ************ |*/
.section-footer {
  display: flex;
  margin: 20px auto;
  background-color: #0d6efd;
  color: #ffffff;
  padding: 50px;
  text-align: left;
  justify-content: space-between;
  border: 1px;
  border-radius: 5px;
}

.readmore {
  margin: 12px;
}
/*  | *********** AkhirSection Footer *********** |*/
/*                                                */
/*  | ** Bagian Footer ** ********************* |*/
.container-footer {
  text-align: left;
}

.kolom {
  box-sizing: border-box;
}

.kolom.robovision {
  flex: 3.5;
  padding-right: 10px;
}

.kolom.privacy-tos {
  flex: 3;
}

.kolom.navigate {
  flex: 2.5;
}

.kolom.contact-us {
  flex: 3;
}

/*  | *********** RESPONSIVE ********** |*/
@media (min-width: 600px) {
  .container-footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .kolom {
    width: 30%;
  }
}

/*  | *********** Bagian Footer ********** |*/
