/*  | *********** *********** *********** CSS ANGGRIAN  *********** *********** *********** |*/

.bgp {
  background: #edf6fd;
  margin-bottom: 10px;
  padding-top: 50px;
}
.jumbotron {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 10px;
}

.jumbotron img {
  width: 200px;
  border: 5px solid #666666;
}

/* .hr {
  width: 250px;
  border-top: 3px solid rgb(255, 0, 0);
} */

section {
  min-height: 700px;
  margin-bottom: 30px;
  padding-bottom: 100px;
  text-align: center;
  align-content: center;
}

.bgp {
  background: #edf6fd;
  margin-bottom: 10px;
  padding-top: 50px;
}

.teks {
  color: rgb(105, 30, 0);
  margin-bottom: 50px;
  text-align: center;
}

.jarak {
  padding: 30px;
}

/* ------------himed--------------- */
.center {
  margin-bottom: 50px;
  text-align: center;
}

.kartu {
  padding-left: 200px;
  padding-right: 20px;
  border-color: brown;
}

.container {
  text-align: center;
}

.right {
  text-align: left;
  color: aqua;
  padding-left: 80px;
}

.rounded-circle {
  padding: auto;
  height: auto;
}

.bawah {
  /* padding-left: 100px; */
  margin-top: 50px;
}

.col-md-9 {
  text-align: left;
  color: #ffffff;
}

.tengah {
  padding-top: 30px;
  text-align: center;
}

.feature {
  position: static;
  margin-top: 35px;
  margin-left: 35px;
  max-width: 80%;
}
.text-feature {
  color: black;
}
.border-warning {
  height: 30px;
}

/* ---------------------------------------------------- */
/*  * ********************************************** * */
/*  | 10. Awal Section Footer ********************** |*/
/*  * ********************************************** */
/*  | *********** Awal Section Footer ************ |*/
.section-footer {
  display: flex;
  margin: 20px auto;
  background-color: #0d6efd;
  color: #ffffff;
  padding: 50px;
  text-align: left;
  justify-content: space-between;
  border: 1px;
  border-radius: 5px;
}

.readmore {
  margin: 12px;
}
/*  | *********** AkhirSection Footer *********** |*/
/*                                                */
/*  | ** Bagian Footer ** ********************* |*/
.container-footer {
  text-align: left;
}

.kolom {
  box-sizing: border-box;
}

.kolom.robovision {
  flex: 3.5;
  padding-right: 10px;
}

.kolom.privacy-tos {
  flex: 3;
}

.kolom.navigate {
  flex: 2.5;
}

.kolom.contact-us {
  flex: 3;
}

/*  | *********** RESPONSIVE ********** |*/
@media (min-width: 600px) {
  .container-footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .kolom {
    width: 30%;
  }
}

/*  | *********** Bagian Footer ********** |*/

/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/*  | *********** CSS ANGGRIAN ********** |*/
/* ---------------------------------------------------- */
/*  * ********************************************** * */
/*  | 10. Awal Section Footer ********************** |*/
/*  * ********************************************** */
/*  | *********** Awal Section Footer ************ |*/
/*  | *********** AkhirSection Footer *********** |*/
/*                                                */
/*  | ** Bagian Footer ** ********************* |*/
